//
   Created by shigeru on 15/12/08.

extends ../layouts/default.jade

block main
  h1= title

block content
  if articles && articles.length > 0
    each article in articles
      include article.jade

